*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html, body, #sb-site, .sb-slidebar {
	margin: 0;
	padding: 0;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}

html, body {
	width: 100%;
	width: 100%;
	overflow-x: hidden; /* Stops horizontal scrolling. */
}

html {
	height: 100%;
}

body {
	min-height: 100%;
	position: relative;
	background-color: #1a2a3b;
	color: #1A2A3B;
}

h1 {
	font-weight: normal;
}

a {
	text-decoration: none;
}
a:focus {
	border: 0px;
	outline: none;
}
input {
	box-sizing: border-box;
}

input[type=text], input[type=password] {
	height: 3em;
	font-size: 1em;
	width: 100%;
	background-color: #fff;
	border: 2px solid #ddd;
	border-radius: 4px;
	padding: 0.8em;
}

.sb-slidebar {
	padding: 14px;
	color: #fff;
}

.sb-toggle-left, .sb-toggle-right, .sb-open-left, .sb-open-right, .sb-close {
	box-sizing: content-box;
	cursor: pointer;
	width: 38px;
	float: left;
	padding: 15px 10px 10px 10px;

}

.side-menu ul {
	list-style-type: none;
    margin: 0;
}

.side-menu li {
    padding: 10px 0;

}

.menu-bar {
	width: 26px;
	height: 4px;
	background-color: #bbb;
	border-radius: 1px;
	margin: 4px;
}

.navbar {
	z-index: 1000;
	position: fixed;
	width: 100%;
	height: 51px;
	background-color: #f4f4f4;
	box-shadow: 2px 2px 4px 2px #ddd;
}

.page-title {
	color: #bbb;
	font-size: 34px;
	float: left;
	line-height: 56px;
}

.main-content {
	min-height: 100%;
	max-width: 960px;
	margin: 50px auto 0;
	padding: 20px 10px 0px;
	z-index: 2;
}
	
.button-1 {
	background-color: #21c28f;
	color: #fff;
	height: 50px;
	line-height: 50px;
	text-align: center;
	border-radius: 4px;
	width: 200px;	
	cursor: pointer;
}

.button-1:hover {
	background-color: #32cd9c;
}

.shaded {
	background-color: #f4f4f4;
	border-radius: 4px;
}

.shaded-floated {
	background-color: #f4f4f4;
	border-radius: 4px;
	width: 100%;
  content: "";
  display: table;
  clear: both;
  margin-bottom: 40px;
}


.big-button {
	float: left;
	width: 200px;
	height: 80px;
	line-height: 78px;
	margin: 40px 0px 40px 40px;
	font-size: 1.3em;
}

.circle-button {
	height: 80px;
	width: 80px;
	border-radius: 80px;
	float: left;
	clear: left;
	margin: 40px 0px 40px 40px;
}

.red {
	background-color: #ff7a7a;

}

.blue {
	background-color: #47bcff;

}

.green {
	background-color: #21c28f;
}

.yellow {
	background-color: #ffd35c;

}

/* define the grid */

[class*='col-'] {
  float: left;
  padding: 0px 20px 0px 20px;
}


.grid {
  padding-top: 40px;
}


/*[class*='col-']:first-of-type {
  padding-left: 0;
}

[class*='col-']:last-of-type {
  padding-right: 0;
}*/

.grid:after {
  content: "";
  display: table;
  clear: both;
}

.col-1-2 {
  width: 50%;
}

.col-2-3 {
	width: 66.66%;
}

.col-1-3 {
	width: 33.33%;
}

.col-1-4 {
  width: 25%;
}

.col-1-8 {
  width: 12.5%;
}

/* -----------------------------------
 * Slidebars
 * Version 0.9.4
 * http://plugins.adchsm.me/slidebars/
 *
 * Written by Adam Smith
 * http://www.adchsm.me/
 *
 * Released under MIT License
 * http://plugins.adchsm.me/slidebars/license.txt
 *
 * -------------------
 * Slidebars CSS Index
 *
 * 001 - Box Model, Html & Body
 * 002 - Site
 * 003 - Slidebars
 * 004 - Animation
 * 005 - Helper Classes
 *
 * ----------------------------
 * 001 - Box Model, Html & Body
 */

/*moved to top of my file*/

/* ----------
 * 002 - Site
 */

#sb-site {
	width: 100%;
	min-height: 100%;	
	position: relative;
	z-index: 2; /* Site sits above Slidebars */
	background-color: #ffffff; /* Default background colour, overwrite this with your own css. */
}

/* ---------------
 * 003 - Slidebars
 */

.sb-slidebar {
	height: 100%;
	overflow-y: auto; /* Enable vertical scrolling on Slidebars when needed. */
	position: fixed;
	top: 0;
	z-index: 0; /* Slidebars sit behind sb-site. */
	visibility: hidden; /* Initially hide the Slidebars. */
	background-color: #1a2a3b; /* Default Slidebars background colour, overwrite this with your own css. */
}

.sb-left {
	left: 0; /* Set Slidebar to the left. */
}

.sb-right {
	right: 0; /* Set Slidebar to the right. */
}

html.sb-static .sb-slidebar,
.sb-slidebar.sb-static {
	position: absolute; /* Makes Slidebars scroll naturally with the site, and unfixes them for Android Browser < 3 and iOS < 5. */
}

.sb-slidebar.sb-active {
	visibility: visible; /* Makes Slidebars visibile when open. */
}

.sb-slidebar.sb-style-overlay {
	z-index: 9999; /* Set z-index high to ensure it overlays any other site elements. */
}

/* Slidebar widths for devices that don't support media queries. */
	.sb-slidebar {
		width: 30%;
	}
	
	.sb-width-thin {
		width: 15%;
	}
	
	.sb-width-wide {
		width: 45%;
	}

@media (max-width: 480px) { /* Slidebar width on extra small screens. */
	.sb-slidebar {
		width: 70%;
	}
	
	.sb-width-thin {
		width: 55%;
	}
	
	.sb-width-wide {
		width: 85%;
	}
}

@media (min-width: 481px) { /* Slidebar width on small screens. */
	.sb-slidebar {
		width: 55%;
	}
	
	.sb-width-thin {
		width: 40%;
	}
	
	.sb-width-wide {
		width: 70%;
	}
}

@media (min-width: 768px) { /* Slidebar width on small screens. */
	.sb-slidebar {
		width: 40%;
	}
	
	.sb-width-thin {
		width: 25%;
	}
	
	.sb-width-wide {
		width: 55%;
	}
}

@media (min-width: 992px) { /* Slidebar width on medium screens. */
	.sb-slidebar {
		width: 30%;
	}
	
	.sb-width-thin {
		width: 15%;
	}
	
	.sb-width-wide {
		width: 45%;
	}
}

@media (min-width: 1200px) { /* Slidebar width on large screens. */
	.sb-slidebar {
		width: 20%;
	}
	
	.sb-width-thin {
		width: 5%;
	}
	
	.sb-width-wide {
		width: 35%;
	}
}

@media (max-width: 600px) { /* Slidebar width on large screens. */

	[class*='col-'] {
		float: left;
		width: 100%;
	}

	input {
		width: 100%;
	}

	.button-1 {
		width: 100%;
	}
}

/* ---------------
 * 004 - Animation
 */

.sb-slide, #sb-site, .sb-slidebar {
	-webkit-transition: -webkit-transform 400ms ease;
	   -moz-transition: -moz-transform 400ms ease;
	     -o-transition: -o-transform 400ms ease;
	        transition: transform 400ms ease;
	-webkit-transition-property: -webkit-transform, left, right; /* Add left/right for Android < 4.4. */
	-webkit-backface-visibility: hidden; /* Prevents flickering. This is non essential, and you may remove it if your having problems with fixed background images in Chrome. */
}

/* --------------------
 * 005 - Helper Classes
 */
 
.sb-hide { 
	display: none; /* May be applied to control classes when Slidebars is disabled over a certain width. */
}
