  <md-toolbar>
    <div class="md-toolbar-tools">
      <span>Melts</span>
      <!-- TODO Add logout button top right -->
    </div>
  </md-toolbar>


  <md-content flex layout-padding class="md-hue-1">

    <div ng-show="!subscribed" layout-fill layout="column" layout-align="center center">
      <div>Hit the plus to join!</div>
    </div>

    <div ng-show="subscribed && activePolls.length === 0" layout-fill layout="column" layout-align="center center">
      <div>Waiting for a poll...</div>
    </div>

    <div ng-show="activePolls.length > 1 && selectedPoll === null" class="max-width-960">
      <md-subheader class="md-no-sticky md-hue-1">Active Polls</md-subheader>
      <md-card ng-repeat="poll in activePolls">
        <md-card-content>
          <h2 class="md-title">{{ poll.collection }}</h2>
          <p>{{ poll.question }}</p>
        </md-card-content>
        <div class="md-actions" layout="row" layout-align="end center">
          <md-button ng-click="selectPoll(poll)" class="md-primary">Answer</md-button>
        </div>
      </md-card>
    </div>

	<div ng-show="selectedPoll" class="max-width-960">
	<md-card>
	  <md-card-content>
	    <h2 class="md-title">{{ selectedPoll.question }}</h2>
	    <md-radio-group class="md-primary">
	      <md-radio-button ng-repeat="answer in selectedPoll.answers" ng-value="answer.value">
	        {{ answer.label }}
	      </md-radio-button>
	    </md-radio-group>
        <div class="md-actions" layout="row" layout-align="end center">
          <md-button ng-click="submit()" class="md-primary">Submit</md-button>
        </div>
	  </md-card-content>
	</md-card>
	</div>

  </md-content>


  <md-button class="md-fab md-fab-bottom-right" aria-label="Join Feed" ng-click="showAlert($event)">
    <md-icon class="material-icons"> add </md-icon>
  </md-button>
