<md-toolbar>
  <div class="md-toolbar-tools">
    <span>Mars</span>
    <!-- TODO Add logout button top right -->
    <span flex></span>
    <md-button class="md-icon-button" aria-label="Join Feed" ng-click="showAlert($event)">
      <md-icon class="material-icons"> add </md-icon>
    </md-button>
    <md-button class="md-icon-button" aria-label="Logout">
      <md-icon class="material-icons"> account_circle </md-icon>
    </md-button>
  </div>
</md-toolbar>


<md-content flex layout-padding class="md-hue-1">

  <div ui-view class="max-width-960"></div>

</md-content>

<md-button ng-show="activePolls.length > 1" class="md-fab md-fab-bottom-right" aria-label="Switch Polls" ng-click="nextPoll($event)">
  <md-icon class="material-icons"> queue </md-icon>
</md-button>
