.bg-red {
	background-color: #f44336;
}

.bg-green {
	background-color: #4caf50;
}

.bg-blue {
	background-color: #2196f3;
}

.bg-purple {
	background-color: #9c27b0;
}

.bg-pink {
	background-color: #e91e63;
}