.bg-red {
	background-color: #ef9a9a;
}

.bg-green {
	background-color: #a5d6a7;
}

.bg-blue {
	background-color: #90caf9;
}

.bg-purple {
	background-color: #ce93d8;
}

.bg-pink {
	background-color: #f48fb1;
}

