<md-content flex class="md-hue-1">

  <div ng-show="false" layout-fill layout="column" layout-align="center center">
    <div>Hi there! Hit the plus to join.</div>
    <img style="width: 100px; padding: 20px;" class="mervin" ng-src="./common/img/happy.png" alt="Mervin, the happy alien."></img>
  </div>

  <div ng-show="true" class="max-width-960">
    <md-subheader class="md-no-sticky md-hue-1">Upcoming Polls</md-subheader>
    <div ng-repeat="group in upcoming | filter: {done: false}">
      <md-card>

        <md-toolbar class="bg-{{group.color}}">
          <div class="md-toolbar-tools">
            <h2 class="md-title">{{ group.collection }} - {{ group.group }}</h2>
            <span flex></span>
            <md-button class="md-icon-button md-secondary" aria-label="Finished Group" ng-click="markGroupAsFinished()">
              <md-icon class="material-icons"> check </md-icon>
            </md-button>
          </div>
        </md-toolbar>

        <md-list>
          <md-list-item ng-repeat="poll in group.polls" ng-click="run()">
            <p>{{ poll.question }}</p>
          </md-list-item>
        </md-list>
      </md-card>
    <br>
    </div>
  </div>

</md-content>
