

<div class="col-1-2">
		<h1>Have a Monash account?</h1>
		<br>
		If you have logged into my.monash before then you already have a melts account.
		<br><br>
		<br>

		<a href='https://my.monash.edu.au/authentication/cas/login/?service=http://melts.eng.monash.edu'>
		<div class="button-1"  type="submit">Sign in</div>
		</a>
		<br><br>
</div>
<div class="col-1-2 shaded">
	<h1>Create an Account</h1>
	<form name="login", method="post", action="http://google.com">
		<input type="text" name="username" placeholder="Username"><br>
		<br>
		<input type="password" name="password" placeholder="Password"><br>
		<br>
		<div class="button-1" type="submit">Create an Account</div>
		<br><br>
	</form>
</div>
